.nav-text-color {
    color: rgb(36, 31, 31);
}

.gift {
    width: 30px;
    height: 30px;
}

.fa-check {
    color: rgb(73, 148, 233);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(228, 228, 247);
}